<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567938369585-4lll2ccdsnaotdq5vavuqrbk6nh07r8m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567938369585-4lll2ccdsnaotdq5vavuqrbk6nh07r8m</string>
	<key>API_KEY</key>
	<string>AIzaSyDhZXod70XSFOzrE13BEgb6WZ6qITewSW4</string>
	<key>GCM_SENDER_ID</key>
	<string>567938369585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.salla</string>
	<key>PROJECT_ID</key>
	<string>salla-325f2</string>
	<key>STORAGE_BUCKET</key>
	<string>salla-325f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567938369585:ios:95592d739578acc9fd6d10</string>
	<key>DATABASE_URL</key>
	<string>https://salla-325f2-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>